<configuration scan="false" scanPeriod="30 seconds">
	
	<appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
		<filter class="ch.qos.logback.classic.filter.ThresholdFilter">
			<level>INFO</level>
		</filter>
		<encoder>
			<pattern>R2DServer: %d{yyyy-MM-dd HH:mm:ss.S} %-1level [%file:%line]: %msg%n</pattern>
		</encoder>
	</appender>

	<logger name="eu.interopehrate" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<logger name="eu.interopehrate.sr2dsm" level="INFO" additivity="false">
        <appender-ref ref="STDOUT"/>
    </logger>

	<root level="INFO">
		<appender-ref ref="STDOUT" />
	</root>

</configuration>