<configuration scan="false" scanPeriod="30 seconds">

    <!-- CONSOLE Appender -->
	<appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<pattern>R2DServer: %d{yyyy-MM-dd HH:mm:ss.S} %-1level [%file:%line]: %msg%n</pattern>
		</encoder>
	</appender>

    <!-- FILE Appender -->
	<appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
	    <file>/usr/local/tomcat/logs/r2da.log</file>
		<rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
			<fileNamePattern>r2da-%d{yyyy-MM-dd}.log</fileNamePattern>
			<maxHistory>30</maxHistory>
			<totalSizeCap>3GB</totalSizeCap>
		</rollingPolicy>
    
        <append>true</append>
		<encoder>
			<pattern>%d{yyyy-MM-dd HH:mm:ss.S} %-5level [%file:%line]: %msg%n</pattern>
		</encoder>
	</appender>
	
    <!-- Logger for eu.interopehrate -->
	<logger name="eu.interopehrate" level="DEBUG" additivity="false">
        <appender-ref ref="FILE"/>
        <appender-ref ref="CONSOLE"/>
    </logger>

    <!-- Logger for eu.interopehrate.sr2dsm -->
	<logger name="eu.interopehrate.sr2dsm" level="INFO" additivity="false">
        <appender-ref ref="FILE"/>
    </logger>

    <!-- Root Logger -->
	<root level="INFO">
		<appender-ref ref="FILE" />
	</root>

</configuration>